In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a' : 10 , 'b' : 20 , 'c' : 30}

In [11]:
pd.Series(data = my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [14]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [16]:
ser1 = pd.Series([1,2,3,4], ['USA','INDIA','JAPAN','CANADA'])

In [17]:
ser1

USA       1
INDIA     2
JAPAN     3
CANADA    4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4] , ['USA','INDIA','Italy','CANADA'])

In [21]:
ser2

USA       1
INDIA     2
Italy     5
CANADA    4
dtype: int64

In [22]:
ser1['USA']

1

In [23]:
ser3 = pd.Series(data=labels)

In [24]:
ser3

0    a
1    b
2    c
dtype: object

In [25]:
ser3[2]

'c'

In [26]:
ser1 + ser2

CANADA    8.0
INDIA     4.0
Italy     NaN
JAPAN     NaN
USA       2.0
dtype: float64